<!DOCTYPE html>
	<html style="background-color:rgb(252, 252, 247)">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<hr>
			<nav>
	    		<ul>
					<li><a style="color:rgb(12, 210, 236); font-size:2em" href="/">Victoria Preston</a></li>
	        		<li><a href="/cv">CV</a></li>
					<li><div class="dropdown">
						<a href="/research">Research</a>
						<div class="dropdown-content">
						<a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/ucat">Underwater Confined Space Mapping</a><br>
						<a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/cambay">Methane in the Arctic</a><br>
						<a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/plumes">PLUMES: Maximum Seek-and-Sample</a><br>
						<!-- <a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/update">Current Efforts</a><br> -->
						<!-- <a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/phumes">PHUMES: Physics-Informed Probabilistic Forecasts</a><br> -->
						<!-- <a style="color:rgb(12, 210, 236); font-size:1.1em" href="/research/guaymas">Deep Sea Hydrothermalism</a><br> -->
					</div>
					  </div>
					</li>
					<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<hr>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				</ul>
			</footer>
		</body>
	</html>